@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

/* General styles */

* {
    box-sizing: border-box;
}

:root {
    --black-white-gradient: linear-gradient(
        45deg,
        black,
        white
    );
    --white-black-gradient: linear-gradient(
        45deg,
        white,
        black
    );
}

body,
html {
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
}

.page {
    display: flex;
    min-height: 100vh;
    /* margin-block: 5rem; */
}

/* First page styles */

.header {
    display: flex;
    font-family: "Onest", 'Times New Roman', Times, serif;
    /* font-weight: 100; */
    justify-content: center;
    align-items: center;
    max-width: 75%;
    text-align: justify;
    margin: auto;
}

.header h1 {
    font-weight: 100;
}

#header-img {
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Grid styles */

.grid-container {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3,minmax(333px,1fr));
    max-width: 100vw;
    text-align: center;
}

.grid-item {
    border: 1px solid snow;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    position: relative; /* Needed to make sure cards show up */
}

.grid-container img {
    object-fit:fill;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

.grid-item::after {
    content: 'Check out this project!';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, .8); /* Adjust the color and transparency as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .grid-item:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

.project-info {
    display: none;
}

/* After Grid */

.page h2 {
    font-weight: 200;
    margin: auto;
    text-align: center;
}

/* Education */

#education {
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.gold {
    color: gold;
}

.red {
    color: red;
}

.animate {
    animation: fade-in 250ms ease-out 250ms;
    animation-fill-mode: both;
}


@keyframes fade-in {
    0% {
        transform: translateX(90%);
        opacity: 0;
    }

    75% {
        opacity: .25;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}


/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* Footer */

footer {
    all: none;
    display: block;
}

#svg {
    position: absolute;
    /* bottom: -50%; */
}

.poly {
    height: clamp(5rem, 50vh, 10rem);
    width: clamp(5rem, 100vw, 10rem);
}